apiVersion: 1

datasources:
  - name: prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: "{{ grafana_prometheus_url }}"
    isDefault: true
    jsonData:
      timeInterval: "{{ grafana_prometheus_time_interval }}"