<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Coursework Fault-Tolerant Infra</title>
</head>
<body>
  <h1>Сайт работает!</h1>
  <p>Обслуживается через Yandex Application Load Balancer.</p>
  <p>Отвечает сервер: <strong>{{ ansible_hostname }}</strong></p>
</body>
</html>